body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p {
    background-color: white;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin: 0;
    height: 80px;
    width: 200px;
}